
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type: none !important;
}
:root{
    --navbar-bg-color: #3f3f3f;
    --sidebar-bg-color: #202020;
    --content-bg-color: #2f2f2f;
    --header-bg-color: rgba(82, 82, 82, 0.308);
    --tab-bg-color: rgba(82, 82, 82, 0.808);
    --main-clr: #22a4f1;
}
.all-wrapper{
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
[contentEditable] {
    color: white;
}
.run{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--main-clr);
    bottom: 00px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    transition: 0.2s linear;
}
.run > div {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px !important;
    cursor: pointer !important;
}
.run > div > label{
    cursor: pointer !important;
}
.output-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.output-container .Output{
    width: 100%;
    height: 100%;
}
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.cross::before{
    position: absolute;
    content: "Close";
    top: 50%;
    color: black;
    font-size: 15px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    left: -500%;
    transform: translateY(-50%);
    color: var(--main-clr);
    background-color: black;
    opacity: 0;
    pointer-events: none;
    width: 60px;
    transition: 0.3s linear;
    overflow: hidden;
}
.cross:hover::before{
    opacity: 1;
}


.bottom {
    width: 100%;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 4%;
    height: 100%;
    background-color: var(--sidebar-bg-color);
}

.sidebar>ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar>ul .shortcuts-wrapper {
    width: 100%;
    height: 40%
}

.sidebar>ul .shortcuts-wrapper .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column
}

.sidebar>ul .shortcuts-wrapper .wrapper li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.sidebar>ul .shortcuts-wrapper .wrapper li svg,.settings-wrapper p svg {
    height: 25px;
    cursor: pointer;
    fill: rgba(255, 255, 255, .486)
}
.sidebar>ul .shortcuts-wrapper .wrapper li.active-shortcut   svg{
    fill: white !important;
}
.sidebar>ul .shortcuts-wrapper .wrapper li:hover svg ,.settings-wrapper p:hover svg{
    fill: white
}

.sidebar>ul .shortcuts-wrapper .wrapper li:has(#bug) {
    position: relative
}

#bug {
    position: absolute;
    height: 15px;
    left: 14px;
    bottom: 14%;
    z-index: 10;
    fill: rgb(165, 158, 158) !important;
}

.settings-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
body.resize .helper{
    width: 0;
    overflow: hidden;
    transition: 0.2s linear;
}
.helper{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    transition: 00s linear;
}
.explorer{
    position: relative;
    width: 100%;
    height: 30%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
}
.title-explorer{
    position: absolute;
    color: white;
    top: -10%;
    left: 0;
}
.explorer li{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 10px;
    margin-block: 1px;
    background-color: rgba(255, 255, 255, 0.196);
}
.explorer li.active_editor_file{
    background-color: rgba(255, 255, 255, 0.396);
}
.explorer li:hover{
    background-color: rgba(255, 255, 255, 0.296);
}
.explorer li p{
    font-size: 15px;
    color: white;
}
.explorer li svg{
    height: 18px;
    margin-right: 10px;
}
.explorer li:nth-child(2) svg{
    fill: tomato;
}
.explorer li:nth-child(3) svg{
    fill:steelblue;
}
.explorer li:last-child svg{
    fill: gold;
}
[data-name-changer]{
    position: relative;
}
.name-absolute{
    opacity: 0;
    position: absolute;
    right: 10px;
    text-transform: lowercase;
    font-size: 12px;
    background-color: white;
    color: black;
    padding: 2px;
}
.common:hover .name-absolute{
    opacity: 1;
}
.helper > ul{
    display: none;
}
.helper > ul.active_tab{
    display: flex !important;
}
.debugrun{
    margin-top: 50px;
    width: 100%;
    height: 50%;
    align-items: flex-start;
    justify-content: center;
}
.debugrun button{
    width: 90%;
    height: 50px;
    cursor: pointer;
    background-color: rgb(65, 161, 225);
    color: white;
    border: none;
    outline: none;
}.debugrun button:hover{
    background-color: rgba(65, 161, 225, 0.897);
}
.debugrun button:focus{
    outline: 1px solid;
    outline-color: cornflowerblue;
    outline-offset: 2px;
    box-sizing: 0px 0px 2px cornflowerblue;
}
.search{
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: 50%;
    justify-content: center;
}
.search > p{
    left: 10px;
    position: absolute;
    color: white;
}
.search input{
    width: 90%;
    height: 30px;
    margin-top: 50px;
    background-color: transparent;
    outline: 2px solid;
    color: white;
    padding-inline-start: 5px;
    font-size: 15px;
    outline-color: cornflowerblue;
    border: none;
}
.plugins{
    height: 50%;
    width: 100%;
    margin-top: 50px;
    padding-inline-start: 10px;
    color: white;
    font-style: italic;
    color: cornflowerblue;
}

body.resize .content-wrapper{
    width: 96%;
}
.content-wrapper{
    width: 76%;
    height: 100%;
    background-color: var(--content-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--header-bg-color);
    position: relative;
}
.toggler{
    position: absolute;
    width: 20px;
    height: 90%;
    z-index: 5;
    background-color:rgb(153, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.toggler div{
    width: 19px;
    height: 20px;
    position: absolute;
    left: -50%;
    border: 1px solid white;
    transform: rotate(39deg);
}

.header li{
    width: 120px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 5px;
    background-color: var(--tab-bg-color);
    margin-inline-start: 25px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.514);
}
.header li.active_header_li{
    background-color: rgba(217, 217, 218, 0.301);
    color: rgba(255, 255, 255, 1);
}
.header li svg{
    height: 50%;
    margin-right: 10px;
}

.header li:nth-child(2) svg{
    fill: tomato;
}
.header li:nth-child(3) svg{
    fill:steelblue !important;
}
.header li:last-child svg{
    fill: gold;
}

.main-wrapper{
    width: 100%;
    height:95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-container {
    width: 100%;
    min-height: 100%;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-container > div{
    display: none;
}
.editor-container .input.active_file{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    resize: none;
    overflow-y: auto;
    outline: none;
    border: 1px solid #eee;
    padding: 5px;
    font-size: 20px;
    overflow-y: hidden;
    overflow-y: scroll;
    background-color: #060808;
}
.editor-container .input.active_file pre{
    width: 100vh;
    height: 85vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    background-color: transparent;
    box-shadow: none;
    border: none;
}
.editor-container .input.active_file pre textarea{
    width: 100% !important;
    height: 100%!important;
    padding: 2px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 22px;
    resize: none;
    color: white;
 line-height: 1.5; /* Adjust this value as needed */
}
.editor-container .input.active_file pre textarea::selection {
    background: royalblue;/* Adjust as needed */
color: black;
}

.linker {
    position: relative;
}

[linker] {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 150px;
    min-height: fit-content;
    background-color: #0f0f0f;
    border: 1px solid white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 500;
}

.linker ul:nth-child(4) {
    left: 50px;
}

.linker ul:nth-child(6) {
    left: 100px;
}

.linker ul:nth-child(8) {
    left: 170px;
}
.linker ul:nth-child(13) {
    left: 370px;
}

[linker].active_list {
    display: flex;
}

[linker] li {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 5px;
}

[linker] li:last-child {
    border: none;
}

[linker] li:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    background-color: transparent;

}


.navbar {
    background-color: var(--navbar-bg-color);
    color: white;
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.links {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 10px
}

.links .icon img {
    width: 20px;
    margin-right: 40px
}

.link-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.link-container>ul.linker {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}

.link-container>ul.linker > li[links] {
    cursor: default;
    font-size: 14px
}

.link-container>ul.linker>li[links]:active,
.link-container>ul.linker>li[links]:hover {
    color: rgba(255, 255, 255, .9)
}

.navbar>p {
    margin-inline-start: 150px
}

.navbar>p .small {
    font-size: 14px
}
